@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');
.me-auto{
    border: solid 4px black;
    display: flex;
    justify-content: center;
    
}

.log-me{
    font-size: 40px !important;
}

.log-ma{
    font-size: 25px !important;
}

.centro{
    display: flex;
   width: 600px;
   display: flex;
   justify-content: space-evenly;
   
}

#barra{
    font-family: Tilt Neon;
    background-color: blueviolet !important;
    text-decoration: none !important;
}

